.texto1{
    position:relative;
    top: -450px;
    right: -100px;

}

.texto2{
    position:relative;
    top: -320px;
    width: 50%;
    left: 6%;
}

.pie-web{
    position: relative;
    top: 100px;
}

#imagen1{
	position: relative;
	left: 60%;
}

.titulo1{
	position: relative;
	left: 10%;
}

@media screen and (max-width: 1900px){
 #imagen1{
  width: 40%;
 }
}
@media screen and (max-width: 1500px){
 #imagen1{
  width: 40%;
 }
 .texto1{
 top: -420px;
 }
}
@media screen and (max-width: 1400px){
 #imagen1{
  width: 40%;
 }
 .texto1{
 top: -420px;
 }
}
@media screen and (max-width: 1350px){
 #imagen1{
  width: 40%;
 }
 .texto1{
 top: -400px;
 }
}
@media screen and (max-width: 1178px){
 #imagen1{
  width: 40%;
 }
 .texto1{
 top: -350px;
 width: 50%;
 }
}
@media screen and (max-width: 1015px){
 #imagen1{
  width: 40%;
 }
 .texto1{
 top: -300px;
 }
 .texto2{
 top: -250px;
 }
}
@media screen and (max-width: 900px){
 #imagen1{
  width: 40%;
 }
 .texto1{
 top: -250px;
 width: 50%;
 }
}
@media screen and (max-width: 690px){
 #imagen1{
  width: 40%;
 }
 .texto1{
 top: -190px;
 width: 40%;
 }
 .texto2{
 top: -90px;
 }
}
@media screen and (max-width: 500px){
	#imagen1{
	width: 50%;
	left: 80px;		
	}
	.texto1{
	position: flex;
	top: 50px;
	left: 40px;
	width: 80%;
	}
	.texto2{
	flex-direction: column;
	top: 70px;
	width: 80%;
	}
	
}




