<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${Titulo}"></title>
    <link rel="shortcut icon" href="./assets/images_readme/logo/logoWhite.png">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/detalle-libro.css">
</head>

<body>

    <div id="page" class="site">
        <aside class="site-off desktop-hide">
            <div class="off-canvas">
                <div class="canvas-head flexitem">
                    <div class="logo"><a href="/inicio/"><span class="circle"></span>.Stose</a></div>
                    <a href="#" class="t-close flexcenter"><i class="ri-close-line"></i></a>
                </div>
                <div class="categories"></div>
                <nav></nav>
                <div class="thetop-nav"></div>
            </div>
        </aside>
    
        <header>
            <!-- header top -->
            <div class="header-top mobile-hide">
                <div class="container">
                    <div class="wrapper flexitem">
                        <div class="left">
                            <ul class="flexitem main-links" th:each="Lista : ${HeaderT}">
                                <li class="links">
                                <li><a href="#" th:text="${Lista.Blog}"></a></li>
                                <li><a href="/inicio/lista-de-deseos" th:text="${Lista.ListaDeDeseos}"></a></li>
                                <li><a href="/inicio/crearblog">Crear Blog</a></li>
                                <li><a href="/inicio/libros">Gestionar Libros</a></li>
                                </li>
                            </ul>
                        </div>
                        <div class="right">
                            <ul class="flexitem main-links" th:each="Lista : ${HeaderT}">
                                <li><a href="#" th:text="${Lista.Registrate}"></a></li>
                                <li><a href="#" th:text="${Lista.MiCuenta}"></a></li>
                                <li><a href="#" th:text="${Lista.RevisionDePedidos}"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- header-nav -->
            <div class="header-nav">
                <div class="container">
                    <div class="wrapper flexitem">
                        <a href="#" class="trigger desktop-hide"><span class="i ri-menu-2-line"></span></a>
                        <div class="left flexitem">
                            <div class="logo"><a href="/inicio/"><span class="circle"></span>.Stose</a></div>
                            <nav class="mobile-hide">
                                <ul class="flexitem second-links">
                                    <li><a href="/inicio/">Inicio</a></li>
                                    <li><a href="/inicio/tienda">Tienda</a></li>
                                    <li><a href="/inicio/costos-de-envio">Costos de envío</a></li>
                                    <li><a href="/inicio/nosotros">Nosotros</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="right">
                            <ul class="flexitem second-links">
                                <li class="iscart"><a href="#">
                                        <div class="icon-large"><i class="ri-heart-line"></i></div>
                                        <div class="fly-item"><span class="item-number">#</span></div>
                                    </a>
                                    <div class="wish-list">
                                        <div class="content">
                                            <div class="wish-list-head">
                                                # libros deseados
                                            </div>
                                            <div class="wish-list-body">
                                                <ul class="products wish">
                                                    <li class="item">
                                                        <div class="thumbnail object-cover">
                                                            <a href="#"><img src="./assets/images/ejemplo.png" alt=""></a>
                                                        </div>
                                                        <div class="item-content">
                                                            <p th:each="Lista : ${LibrosDeseados}"><a href="#"
                                                                    th:text="${Lista.LibroDeseado1}"></a></p>
                                                            <span class="price">
                                                                <span>$0.00</span>
    
                                                            </span>
                                                        </div>
                                                        <a href="#" class="item-remove"><i class="ri-close-line"></i></a>
                                                    </li>
                                                    <li class="item">
                                                        <div class="thumbnail object-cover">
                                                            <a href="#"><img src="./assets/images/ejemplo.png" alt=""></a>
                                                        </div>
                                                        <div class="item-content">
                                                            <p th:each="Lista : ${LibrosDeseados}"><a href="#"
                                                                    th:text="${Lista.LibroDeseado2}"></a></p>
                                                            <span class="price">
                                                                <span>$0.00</span>
    
                                                            </span>
                                                        </div>
                                                        <a href="#" class="item-remove"><i class="ri-close-line"></i></a>
                                                    </li>
                                                    <li class="item">
                                                        <div class="thumbnail object-cover">
                                                            <a href="#"><img src="./assets/images/ejemplo.png" alt=""></a>
                                                        </div>
                                                        <div class="item-content">
                                                            <p th:each="Lista : ${LibrosDeseados}"><a href="#"
                                                                    th:text="${Lista.LibroDeseado3}"></a></p>
                                                            <span class="price">
                                                                <span>$0.00</span>
    
                                                            </span>
                                                        </div>
                                                        <a href="#" class="item-remove"><i class="ri-close-line"></i></a>
                                                    </li>
                                                    <li class="item">
                                                        <div class="thumbnail object-cover">
                                                            <a href="#"><img src="./assets/images/ejemplo.png" alt=""></a>
                                                        </div>
                                                        <div class="item-content">
                                                            <p th:each="Lista : ${LibrosDeseados}"><a href="#"
                                                                    th:text="${Lista.LibroDeseado4}"></a></p>
                                                            <span class="price">
                                                                <span>$0.00</span>
    
                                                            </span>
                                                        </div>
                                                        <a href="#" class="item-remove"><i class="ri-close-line"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="wish-list-footer">
    
                                                <div class="actions">
    
                                                    <a href="/inicio/lista-de-deseos" class="secondary-button">Ver Lista
                                                        de Deseos</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="iscart"><a href="#">
                                        <div class="icon-large">
                                            <i class="ri-shopping-cart-line"></i>
                                            <div class="fly-item"><span class="item-number">4</span></div>
                                        </div>
                                        <div class="icon-text">
                                            <div class="mini-text">Total</div>
                                            <div class="cart-total">$186.00</div>
                                        </div>
                                    </a>
    
                                    <div class="mini-cart">
                                        <div class="content">
                                            <div class="cart-head">
                                                4 libros en el carrito
                                            </div>
                                            <div class="cart-body">
                                                <ul class="products mini">
                                                    <li class="item">
                                                        <div class="thumbnail object-cover">
                                                            <a href="#"><img src="./assets/products/apparel1.jpg"
                                                                    alt=""></a>
                                                        </div>
                                                        <div class="item-content">
                                                            <p th:each="Lista : ${CarritoCompras}"><a href="#"
                                                                    th:text="${Lista.CarritoCompras1}"></a></p>
                                                            <span class="price">
                                                                <span>$46.50</span>
                                                                <span class="fly-item"><span>1x</span></span>
                                                            </span>
                                                        </div>
                                                        <a href="#" class="item-remove"><i class="ri-close-line"></i></a>
                                                    </li>
                                                    <li class="item">
                                                        <div class="thumbnail object-cover">
                                                            <a href="#"><img src="./assets/products/apparel1.jpg"
                                                                    alt=""></a>
                                                        </div>
                                                        <div class="item-content">
                                                            <p th:each="Lista : ${CarritoCompras}"><a href="#"
                                                                    th:text="${Lista.CarritoCompras2}"></a></p>
                                                            <span class="price">
                                                                <span>$46.50</span>
                                                                <span class="fly-item"><span>1x</span></span>
                                                            </span>
                                                        </div>
                                                        <a href="#" class="item-remove"><i class="ri-close-line"></i></a>
                                                    </li>
                                                    <li class="item">
                                                        <div class="thumbnail object-cover">
                                                            <a href="#"><img src="./assets/products/apparel1.jpg"
                                                                    alt=""></a>
                                                        </div>
                                                        <div class="item-content">
                                                            <p th:each="Lista : ${CarritoCompras}"><a href="#"
                                                                    th:text="${Lista.CarritoCompras3}"></a></p>
                                                            <span class="price">
                                                                <span>$46.50</span>
                                                                <span class="fly-item"><span>1x</span></span>
                                                            </span>
                                                        </div>
                                                        <a href="#" class="item-remove"><i class="ri-close-line"></i></a>
                                                    </li>
                                                    <li class="item">
                                                        <div class="thumbnail object-cover">
                                                            <a href="#"><img src="./assets/products/apparel1.jpg"
                                                                    alt=""></a>
                                                        </div>
                                                        <div class="item-content">
                                                            <p th:each="Lista : ${CarritoCompras}"><a href="#"
                                                                    th:text="${Lista.CarritoCompras4}"></a></p>
                                                            <span class="price">
                                                                <span>$46.50</span>
                                                                <span class="fly-item"><span>1x</span></span>
                                                            </span>
                                                        </div>
                                                        <a href="#" class="item-remove"><i class="ri-close-line"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="cart-footer">
                                                <div class="subtotal">
                                                    <p>Subtotal</p>
                                                    <p><strong>$186.00</strong></p>
                                                </div>
                                                <div class="actions">
                                                    <a href="/inicio/revision-pedido" class="primary-button">Verificar</a>
                                                    <a href="/inicio/carrito-compras" class="secondary-button">Ver
                                                        Carrito</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- header main -->
            <div class="header-main mobile-hide">
                <div class="container">
                    <div class="wrapper flexitem">
                        <div class="left">
                            <div class="ctg-cat">
                                <div class="ctg-head">
                                    <div class="main-text">Categorías</div>
                                    <div class="mini-text mobile-hide">Total 135 libros</div>
                                    <a href="#" class="ctg-trigger mobile-hide">
                                        <i class="ri-menu-3-line ri-xl"></i>
                                        <i class="ri-close-line ri-xl"></i>
                                    </a>
                                </div>
                                <div class="ctg-menu">
                                    <ul class="second-links">
                                        <li class="has-child arte">
                                            <a href="#">
                                                <div class="icon-large"><i class="ri-book-2-line"></i></div>
                                                Arte
                                                <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                            </a>
                                            <ul>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria1}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria2}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria3}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria4}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria5}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria6}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria7}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria8}"></a></li>
                                            </ul>
                                        </li>
                                        <li class="has-child biografia">
                                            <a href="#">
                                                <div class="icon-large"><i class="ri-book-2-line"></i></div>
                                                Biografías
                                                <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                            </a>
                                            <ul>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria9}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria10}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria11}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria12}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria13}"></a></li>
                                            </ul>
                                        </li>
                                        <li class="has-child ciencia">
                                            <a href="#">
                                                <div class="icon-large"><i class="ri-book-2-line"></i></div>
                                                Ciencias
                                                <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                            </a>
                                            <ul>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria14}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria15}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria16}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria17}"></a></li>
                                            </ul>
                                        </li>
                                        <li class="has-child computacion">
                                            <a href="#">
                                                <div class="icon-large"><i class="ri-book-2-line"></i></div>
                                                Computación
                                                <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                            </a>
                                            <ul>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria18}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria19}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria20}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria21}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria22}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria23}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria24}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria25}"></a></li>
                                            </ul>
                                        </li>
                                        <li class="has-child deporte">
                                            <a href="#">
                                                <div class="icon-large"><i class="ri-book-2-line"></i></div>
                                                Deportes
                                                <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                            </a>
                                            <ul>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria26}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria27}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria28}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria29}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria30}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoriao31}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria32}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria33}"></a></li>
                                            </ul>
                                        </li>
                                        <li class="has-child derecho">
                                            <a href="#">
                                                <div class="icon-large"><i class="ri-book-2-line"></i></div>
                                                Derecho
                                                <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                            </a>
                                            <ul>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria34}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria35}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria36}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria37}"></a></li>
                                            </ul>
                                        </li>
                                        <li class="has-child economia">
                                            <a href="#">
                                                <div class="icon-large"><i class="ri-book-2-line"></i></div>
                                                Economía
                                                <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                            </a>
                                            <ul>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria38}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria39}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria40}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria41}"></a></li>
                                            </ul>
                                        </li>
                                        <li class="has-child estilo-de-vida">
                                            <a href="#">
                                                <div class="icon-large"><i class="ri-book-2-line"></i></div>
                                                Estilos de Vida
                                                <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                            </a>
                                            <ul>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria42}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria43}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria44}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria45}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria46}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria47}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria48}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria49}"></a></li>
                                            </ul>
                                        </li>
                                        <li class="has-child ficcion">
                                            <a href="#">
                                                <div class="icon-large"><i class="ri-book-2-line"></i></div>
                                                Ficción
                                                <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                            </a>
                                            <ul>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria50}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria51}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria52}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria53}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria54}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria55}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria56}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria57}"></a></li>
                                            </ul>
                                        </li>
                                        <li class="has-child filosofia-religion">
                                            <a href="#">
                                                <div class="icon-large"><i class="ri-book-2-line"></i></div>
                                                Filosofía y Religión
                                                <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                            </a>
                                            <ul>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria58}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria59}"></a></li>
                                            </ul>
                                        </li>
                                        <li class="has-child infantil-juvenil">
                                            <a href="#">
                                                <div class="icon-large"><i class="ri-book-2-line"></i></div>
                                                Infantiles y Juveniles
                                                <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                            </a>
                                            <ul>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria60}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria61}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria62}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria63}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria64}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria65}"></a></li>
                                                <li th:each="Lista : ${SubCategoria}"><a href="#"
                                                        th:text="${Lista.SubCategoria66}"></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="search-box">
                                <form action="" class="search">
                                    <span class="icon-large"><i class="ri-search-line"></i></span>
                                    <input type="search" placeholder="Buscar un libro">
                                    <button type="submit">Buscar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="container">
                <div class="wrapper">
                    <h2 class="fw-bolder center titulo1">Cobro de envio</h2>
                    <img id="imagen1"
                        src="https://images.falabella.com/v3/assets/bltf4ed0b9a176c126e/blt7d44bbf3d1a5e0f3/62f40e08504b12685eded681/030-Servicios-v02.png?auto=webp&disable=upscale&quality=70&width=1280">
                    <div class="texto1">
                        <h4>
                            Cada vez que compres en Stose o a travez de venta <br>
                            telefonica al xxxxxxxxx, tendras que eligir un destino.
                        </h4>
                        <br>
                        <br>
                        <h4>
                            Y siempre se te informara que habra un pequeño aumento de precio <br>
                            por el costo que cuesta enviar el producto a su domicilio.
                        </h4>
                        <br>
                        <br>
                        <hr style="width: 50%;">
                        <br>
                        <h4>
                            Este cobro depende del lugar de destino, el tipo de envío que elijas, <br>
                            el origen del producto y su tamaño. Ten en cuenta que en Stose.com <br>
                            vendemos miles de productos que almacenamos en diversos lugares, entre ellos <br>
                            nuestro centro de distribución, tiendas y bodegas de los vendedores.
                        </h4>
                        <br>
                        <h4>
                            Cuando realizas una compra con varios productos es posible que te cobremos <br>
                            más de un envío, ya que podrían ser enviados desde distintos lugares. De <br>
                            todas formas, esto te lo informaremos antes de pagar. Recuerda que tienes <br>
                            la opción de retiro gratis o de envío gratis por compras desde S/79 en miles <br>
                            de productos. Considera que algunos productos deben cumplir con ciertas <br>
                            condiciones y el envío aplica para ciertas zonas.
                        </h4>
                    </div>
    
                    <div class="texto2">
                        <hr style="width: 100%;">
                        <h2>Para envíos a domicilio ten en cuenta lo siguiente</h2>
                        <br>
                        <br>
                        <ul>
    
                            <li type="square">El producto será entregado en la puerta de tu domicilio, de acuerdo a nuestros
                                términos y condiciones.</li>
    
                            <li type="square">Te recomendamos que el día de la entrega cuentes con personas que te puedan
                                ayudar. Si tienes dudas, comunícate con el servicio al cliente (xx) xxx xxxx.</li>
    
                            <li type="square">El personal de paquetería asignado para la entrega de tu producto, no está
                                capacitado ni en facultad para realizar instalaciones de los mismos. De realizar alguna, la
                                misma no estará bajo la responsabilidad de falabella.com de acuerdo a nuestros términos y
                                condiciones.</li>
    
                            <li type="square">La paquetería no está facultada a desarmar puertas o ventanas para el ingreso
                                del
                                producto al domicilio.</li>
    
                        </ul>
                        <br><br>
                    </div>
                </div>
            </div>
        </main>
    
        <footer class="pie-web">
            <!-- newsletter -->
            <div class="newsletter">
                <div class="container">
                    <div class="wrapper">
                        <div class="box">
                            <div class="content">
                                <h3>Suscríbete a nuestro boletín</h3>
                                <p>Recibe actualizaciones por correo electrónico sobre nuestros libros más recientes y
                                    <strong> ofertas especiales</strong>
                                </p>
                            </div>
                            <form action="" class="search">
                                <span class="icon-large"><i class="ri-mail-line"></i></span>
                                <input type="mail" placeholder="Correo electrónico" required>
                                <button type="submit">Registrarse</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    
    
            <!-- widgets -->
            <div class="widgets">
                <div class="container">
                    <div class="wrapper">
                        <div class="flexwrap">
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Ayuda y Contacto</h4>
                                    <ul class="flexcol" th:each="Lista : ${AyudaC}">
                                        <li><a href="#" th:text="${Lista.Cuenta}"></a></li>
                                        <li><a href="#" th:text="${Lista.Pedidos}"></a></li>
                                        <li><a href="#" th:text="${Lista.Envios}"></a></li>
                                        <li><a href="#" th:text="${Lista.Devoluciones}"></a></li>
                                        <li><a href="#" th:text="${Lista.Contactanos}"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Libros Categorías</h4>
                                    <ul class="flexcol" th:each="Lista : ${LibrosC}">
                                        <li><a href="#" th:text="${Lista.Arte}"></a></li>
                                        <li><a href="#" th:text="${Lista.Biografias}"></a></li>
                                        <li><a href="#" th:text="${Lista.Ciencias}"></a></li>
                                        <li><a href="#" th:text="${Lista.Computacion}"></a></li>
                                        <li><a href="#" th:text="${Lista.Deportes}"></a></li>
                                        <li><a href="#" th:text="${Lista.Derecho}"></a></li>
                                        <li><a href="#" th:text="${Lista.Economia}"></a></li>
                                        <li><a href="#" th:text="${Lista.EstilosDeVida}"></a></li>
                                        <li><a href="#" th:text="${Lista.Ficcion}"></a></li>
                                        <li><a href="#" th:text="${Lista.FilosofiaYreligion}"></a></li>
                                        <li><a href="#" th:text="${Lista.InfantilesYjuveniles}"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Métodos de Pago</h4>
                                    <ul class="flexcol" th:each="Lista : ${MetodosP}">
                                        <li><a href="#" th:text="${Lista.TarjetasDeCredito}"></a></li>
                                        <li><a href="#" th:text="${Lista.Paypal}"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Sobre Nosotros</h4>
                                    <ul class="flexcol" th:each="Lista : ${Nosotros}">
                                        <li><a href="#" th:text="${Lista.Iempresa}"></a></li>
                                        <li><a href="#" th:text="${Lista.Noticias}"></a></li>
                                        <li><a href="#" th:text="${Lista.Inversores}"></a></li>
                                        <li><a href="#" th:text="${Lista.Politicas}"></a></li>
                                        <li><a href="#" th:text="${Lista.ClienteV}"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- socials -->
            <div class="footer-info">
                <div class="container">
                    <div class="wrapper">
                        <div class="flexcol">
                            <div class="logo">
                                <a href="/inicio/"><span class="circle"></span>.Stose</a>
                            </div>
                            <div class="socials">
                                <ul class="flexitem">
                                    <li><a href="https://twitter.com/StoseOficial" target="_blank"><i
                                                class="ri-twitter-line"></i></a></li>
                                    <li><a href="https://www.facebook.com/profile.php?id=100087639915317&sk=about"
                                            target="_blank"><i class="ri-facebook-line"></i></a></li>
                                    <li><a href="https://www.instagram.com/stose_oficial_la/" target="_blank"><i
                                                class="ri-instagram-line"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UClqy7a7vzpY-vwNqyAVb2eA"
                                            target="_blank"><i class="ri-youtube-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <p class="mini-text">Copyright 2022 © .Stose. Todos los derechos reservados.</p>
                    </div>
                </div>
            </div>
    
            <!-- bottoms navigation -->
            <div class="menu-bottom desktop-hide">
                <div class="container">
                    <div class="wrapper">
                        <nav>
                            <ul class="flexitem">
                                <li>
                                    <a href="#">
                                        <i class="ri-bar-chart-line"></i>
                                        <span>Tendencias</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ri-user-6-line"></i>
                                        <span>Cuenta</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="wish-trigger">
                                        <i class="ri-heart-line"></i>
                                        <span>Deseados</span>
                                        <div class="fly-item">
                                            <span class="item-number">#</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="t-search">
                                        <i class="ri-search-line"></i>
                                        <span>Buscar</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="cart-trigger">
                                        <i class="ri-shopping-cart-line"></i>
                                        <span>Carrito</span>
                                        <div class="fly-item">
                                            <span class="item-number">#</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
    
            <!-- bottom search desktop-->
            <div class="search-bottom desktop-hide">
                <div class="container">
                    <div class="wrapper">
                        <form action="" class="search">
                            <a href="#" class="t-close search-close flexcenter"><i class="ri-close-line"></i></a>
                            <span class="icon-large"><i class="ri-search-line"></i></span>
                            <input type="search" placeholder="Buscar en toda la tienda..." required>
                            <button type="submit">Buscar</button>
                        </form>
                    </div>
                </div>
            </div>
    
            <!-- overlay -->
            <div class="overlay"></div>
    
        </footer>
    </div>

    <script src="/js/detalle-libro.js"></script>
</body>

</html>