<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${TituloPagina}"></title>
    <link rel="shortcut icon" href="./assets/images_readme/logo/logoWhite.png">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link
    rel="stylesheet"
    href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
     <link rel="stylesheet" href="/css/modalesIndex.css"> 
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>
<body>
    <div id="page" class="site">

        <aside class="site-off desktop-hide">
            <div class="off-canvas">
                <div class="canvas-head flexitem">
                    <div class="logo"><a href="/inicio/"><span class="circle"></span>.Stose</a></div>
                    <a href="#" class="t-close flexcenter"><i class="ri-close-line"></i></a>
                </div>
                <div class="categories"></div>
                <nav></nav>
                <div class="thetop-nav"></div>
            </div>
        </aside>

        <header>
            <!-- header top -->
            <div class="header-top mobile-hide">
                <div class="container">
                    <div class="wrapper flexitem">
                        <div class="left">
                            <ul class="flexitem main-links">
                                <li class="links">
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="/inicio/lista-de-deseos">Lista de deseos</a></li>
                                    <li><a href="/inicio/crearblog" class="logged-out" >Crear Blog</a></li>
                                    <li><a href="/inicio/libros" class="logged-out">Gestionar Libros</a></li>
                            </ul>
                        </div>
                        <div class="right">
                            <ul class="flexitem main-links">
                                <li><a class="logged-in" href="#">Mi Cuenta</a></li>
                               
                                <li><a class="logged-out" href="#" onclick="AbrirModal2()" >Iniciar sesión</a></li> 
                                <li><a class="logged-out" href="#" onclick="AbrirModal()">Registrar</a></li>                                            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
       <a class="logged-in masespacio" id="loguot" href="#">Cerrar Sesión </a>
<!-- ---- VENTANAS MODALES -------- -->

  <!-- ----- VENTANA MODAL DE REGISTRO ------ -->

  <div id="modal" class="modal-registro">
    <div class="login-container">
     <div class="login-info-container-registro">
        <h1 class="title">REGISTRATE</h1>
        <div class="social-login">
        <div class="social-login-element" id="btnGoogle" >
            <img src="https://rotulosmatesanz.com/wp-content/uploads/2017/09/2000px-Google_G_Logo.svg_.png" alt="google-img">
            <span>Google</span>
        </div>
        <div class="social-login-element" id="btnFacebook">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="google-img">
            <span>Facebook</span>
        </div>
     </div>
        <form class="inputs-container" id="form">
            <br>
            <span id="icon-form-1" class="material-symbols-outlined">alternate_email</span>   <input class="input" placeholder="E-mail" type="text" id="email"> 
            <span id="icon-form-2" class="material-symbols-outlined">person_filled</span>     <input class="input" type="text" placeholder="Name" id="nombre">
            <span id="icon-form-4" class="material-symbols-outlined">call</span>           <input class="input" placeholder="Phone number" type="text" id="phono">
            <span id="icon-form-3" class="material-symbols-outlined">Password</span>          <input class="input" placeholder="Password" type="password" id="pass">

            <br>
            <button class="btn-login" type="submit" id="registrar" >Registrar</button>
        </form>
    </div>
    <img class="imagen-contenedor-registrar" src="https://cdn-icons-png.flaticon.com/512/3534/3534139.png" alt="login">
</div>
        <a href="#0" class="t-close modalclose flexcenter">
            <i class="ri-close-line" onclick="cerrar()"></i>
        </a>
</div>
  <!-- ----- VENTANA MODAL DE REGISTRO ------ -->


  <!-- -----------VENTANA MODAL DE LOGIN ------------ -->
  <div id="modal" class="modal-login">
    <div class="login-container">
     <div class="login-info-container-login">
        <h1 class="title">Iniciar sesión</h1>
        <div class="social-login">
        <div class="social-login-element" id="btnGoogle2">
            <img src="https://rotulosmatesanz.com/wp-content/uploads/2017/09/2000px-Google_G_Logo.svg_.png" alt="google-img">
            <span id="btnGoogle" >Google</span>
        </div>
        <div class="social-login-element" id="btnFacebook2">
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="google-img">
            <span>Facebook</span>
        </div>
     </div>
        <p>or</p>
        
        <form id="form2" class="inputs-container" >
            <span id="icon-form-5" class="material-symbols-outlined">alternate_email</span>  <input class="input" placeholder="E-mail" type="text" id="email2">
            <span id="icon-form-6" class="material-symbols-outlined">Password</span>          <input class="input" placeholder="Password" type="password"  id="pas2">
            <p>Olvidaste tu contraseña? <span class="span">Clic aquí</span></p>              
            <button class="btn-login" type="submit">Login</button>
        </form>
        <div id="container-warnings">
            <p id="error6"></p>
            <p id="error7"></p>

           </div>
    </div>
    <img class="imagen-contenedor-login" src="https://cdn-icons-png.flaticon.com/512/3534/3534139.png" alt="login">
</div>
        <a href="#0" class="t-close modalclose2 flexcenter">
            <i class="ri-close-line"></i>
        </a>
</div>
  <!-- -----------VENTANA MODAL DE LOGIN ------------ -->


<!-- ---- VENTANAS MODALES -------- -->
            <!-- header-nav -->
            <div class="header-nav">
                <div class="container">
                    <div class="wrapper flexitem">
                        <a href="#" class="trigger desktop-hide"><span class="i ri-menu-2-line"></span></a>
                        <div class="left flexitem">
                            <div class="logo"><a href="/inicio/"><span class="circle"></span>.Stose</a></div>
                            <nav class="mobile-hide">
                                <ul class="flexitem second-links">
                                    <li><a href="/inicio/">Inicio</a></li>
                                    <li><a href="/inicio/tienda">Tienda</a></li>
                                    <li><a href="/inicio/costos-de-envio">Costos de envío</a></li>
                                    <li><a href="/inicio/nosotros">Nosotros</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="right">
                            <ul class="flexitem second-links">
                                <li class="iscart"><a href="#">
                                        <div class="icon-large"><i class="ri-heart-line"></i></div>
                                        <div class="fly-item"><span class="item-number">#</span></div>
                                    </a>
                                    <div class="wish-list">
                                        <div class="content">
                                            <div class="wish-list-head">
                                                Libros deseados
                                            </div>
                                            <div class="wish-list-body">
                                                <ul class="products wish">
                                                    <li class="item">
                                                        <div class="thumbnail object-cover">
                                                            <a href="#"><img src="./assets/images/ejemplo.png"
                                                                    alt=""></a>
                                                        </div>
                                                        <div class="item-content">
                                                            <p th:each="Lista : ${LibrosDeseados}"><a href="#" th:text="${Lista.LibroDeseado1}"></a></p>
                                                            <span class="price">
                                                                <span>$0.00</span>

                                                            </span>
                                                        </div>
                                                        <a href="#" class="item-remove"><i
                                                                class="ri-close-line"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="wish-list-footer">

                                                <div class="actions">

                                                    <a href="/inicio/lista-de-deseos" class="secondary-button">Ver Lista
                                                        de Deseos</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="iscart"><a href="#">
                                    <div class="icon-large">
                                        <i class="ri-shopping-cart-line"></i>
                                        <div class="fly-item"><span class="item-number">#</span></div>
                                    </div>
                                    <div class="icon-text">
                                        <div class="mini-text">Total</div>
                                        <div class="cart-total">$0.00</div>
                                    </div>
                                </a>

                                <div class="mini-cart">
                                    <div class="content">
                                        <div class="cart-head">
                                            Libros en el carrito
                                        </div>
                                        <div class="cart-body">
                                            <ul class="products mini" th:each="carrito : ${carrito}">
                                                <li class="item">
                                                    <div class="thumbnail object-cover">
                                                        <a href="#"><img th:src="${carrito.img}" width="100" height="100"></a>
                                                    </div>
                                                    <div class="item-content">
                                                        <p><a href="#" th:text="${carrito.titulo}"></a></p>
                                                        <span class="price">$
                                                            <span th:text="${carrito.precio}"></span>
                                                            <span class="fly-item">x<span th:text="${carrito.cantidad}"></span></span>
                                                        </span>
                                                    </div>
                                                    <a th:href="@{/inicio/{id}(id=${carrito.id})}" class="item-remove"><i class="ri-close-line"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cart-footer">
                                            <div class="subtotal">
                                                <p>Subtotal</p>
                                                <p><strong>$0.00</strong></p>
                                            </div>
                                            <div class="actions">
                                                <a href="/inicio/revision-pedido" class="primary-button">Verificar</a>
                                                <a href="/inicio/carrito-compras" class="secondary-button">Ver Carrito</a></div>
                                        </div>
                                    </div>
                                </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- header main -->
            <div class="header-main mobile-hide">
                <div class="container">
                    <div class="wrapper flexitem">
                        <div class="left">
                            <div class="ctg-cat">
                                <div class="ctg-head">
                                    <div class="main-text">Categorías</div>
                                    <div class="mini-text mobile-hide">Total # libros</div>
                                </div>
                                <div class="ctg-menu">
                                <ul class="second-links">
                                    <li class="has-child arte">
                                        <a href="#">
                                            <div class="icon-large"><i class="ri-book-2-line"></i></div>
                                            Arte
                                            <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                        </a>
                                        <ul>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria1}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria2}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria3}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria4}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria5}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria6}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria7}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria8}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="has-child biografia">
                                        <a href="#">
                                            <div class="icon-large"><i class="ri-book-2-line"></i></div>
                                            Biografías
                                            <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                        </a>
                                        <ul>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria9}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria10}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria11}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria12}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria13}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="has-child ciencia">
                                        <a href="#">
                                            <div class="icon-large"><i class="ri-book-2-line"></i></div>
                                            Ciencias
                                            <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                        </a>
                                        <ul>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria14}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria15}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria16}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria17}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="has-child computacion">
                                        <a href="#">
                                            <div class="icon-large"><i class="ri-book-2-line"></i></div>
                                            Computación
                                            <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                        </a>
                                        <ul>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria18}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria19}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria20}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria21}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria22}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria23}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria24}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria25}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="has-child deporte">
                                        <a href="#">
                                            <div class="icon-large"><i class="ri-book-2-line"></i></div>
                                            Deportes
                                            <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                        </a>
                                        <ul>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria26}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria27}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria28}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria29}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria30}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoriao31}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria32}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria33}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="has-child derecho">
                                        <a href="#">
                                            <div class="icon-large"><i class="ri-book-2-line"></i></div>
                                            Derecho
                                            <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                        </a>
                                        <ul>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria34}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria35}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria36}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria37}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="has-child economia">
                                        <a href="#">
                                            <div class="icon-large"><i class="ri-book-2-line"></i></div>
                                            Economía
                                            <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                        </a>
                                        <ul>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria38}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria39}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria40}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria41}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="has-child estilo-de-vida">
                                        <a href="#">
                                            <div class="icon-large"><i class="ri-book-2-line"></i></div>
                                            Estilos de Vida
                                            <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                        </a>
                                        <ul>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria42}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria43}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria44}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria45}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria46}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria47}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria48}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria49}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="has-child ficcion">
                                        <a href="#">
                                            <div class="icon-large"><i class="ri-book-2-line"></i></div>
                                            Ficción
                                            <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                        </a>
                                        <ul>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria50}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria51}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria52}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria53}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria54}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria55}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria56}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria57}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="has-child filosofia-religion">
                                        <a href="#">
                                            <div class="icon-large"><i class="ri-book-2-line"></i></div>
                                            Filosofía y Religión
                                            <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                        </a>
                                        <ul>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria58}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria59}"></a></li>
                                        </ul>
                                    </li>
                                    <li class="has-child infantil-juvenil">
                                        <a href="#">
                                            <div class="icon-large"><i class="ri-book-2-line"></i></div>
                                            Infantiles y Juveniles
                                            <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                        </a>
                                        <ul>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria60}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria61}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria62}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria63}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria64}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria65}"></a></li>
                                            <li th:each="Lista : ${SubCategoria}"><a href="#" th:text="${Lista.SubCategoria66}"></a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="search-box">
                                <form action="" class="search">
                                    <span class="icon-large"><i class="ri-search-line"></i></span>
                                    <input type="search" placeholder="Buscar un libro">
                                    <button type="submit">Buscar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <!-- slider -->
            <div class="slider">
                <div class="container">
                    <div class="wrapper">
                        <div class="myslider swiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="item">
                                        <div class="image object-cover">
                                            <img src="https://www.latercera.com/resizer/dkIFXgXfBpqd9XAWcb61tXdJJV4=/900x600/smart/cloudfront-us-east-1.images.arcpublishing.com/copesa/T2UWMIPGINDILCXIZOHAAFKSRA.jpg" alt="">
                                        </div>
                                        <div class="text-content flexcol">
                                            <h4>Los mejores libros</h4>
                                            <h2><span>Ven y encuentra</span><br>tu libro ideal</h2>
                                            <a href="/inicio/tienda" class="primary-button">Comprar ahora</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="item">
                                        <div class="image object-cover">
                                            <img src="https://img.freepik.com/psd-gratis/libro-maqueta-tapa-dura-tres-vistas_125540-226.jpg?w=2000">
                                        </div>
                                        <div class="text-content flexcol">
                                            <h4>Tendencias</h4>
                                            <h2><span>Consigue los libros</span><br>mas buscados</h2>
                                            <a href="/inicio/tienda" class="primary-button">Comprar ahora</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="item">
                                        <div class="image object-cover">
                                            <img src="https://mymodernmet.com/wp/wp-content/uploads/2022/02/how-to-draw-a-book-1.jpg">
                                        </div>
                                        <div class="text-content flexcol">
                                            <h4>Pedidos</h4>
                                            <h2><span>Te lo llevamos</span><br>directo a tu casa</h2>
                                            <a href="/inicio/tienda" class="primary-button">Comprar ahora</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="item">
                                        <div class="image object-cover">
                                            <img src="https://images.vexels.com/media/users/3/297371/raw/53fe0bf23834bfdbd2a6883fc26f73a7-maqueta-de-taza-de-caf-y-portada-de-libro.jpg">
                                        </div>
                                        <div class="text-content flexcol">
                                            <h4>Comunidad</h4>
                                            <h2><span>Ayúdanos a</span><br>seguir creciendo</h2>
                                            <a href="/inicio/tienda" class="primary-button">Comprar ahora</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- brands -->
            <div class="brands">
                <div class="container">
                    <div class="wrapper flexitem">
                        <div class="item">
                            <a href="#0">
                                <img src="./assets/brands/logo1.png" alt="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#0">
                                <img src="./assets/brands/logo2.png" alt="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#0">
                                <img src="./assets/brands/logo3.png" alt="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#0">
                                <img src="./assets/brands/logo4.png" alt="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#0">
                                <img src="./assets/brands/logo5.png" alt="">
                            </a>
                        </div>
                        <div class="item">
                            <a href="#0">
                                <img src="./assets/brands/logo6.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- trending books -->
            <div class="trending">
                <div class="container">
                    <div class="wrapper">
                        <div class="sectop flexitem">
                            <h2><span class="circle"></span><span>Libros en Tendencia</span></h2>
                        </div>
                        
                        <div class="column">
                            <div class="flexwrap">
                            
                                <div class="row products big" th:each="o : ${oferta}">
                                    <div class="item">
                                        <div class="ofter">
                                            <p>Libro en Oferta</p>
                                        </div>
                                        <div class="media">
                                            <div class="image" >
                                            <a th:href="@{/inicio/libros/info/{id}(id=${o.id})}">
                                               <img th:src="${o.img}" alt="">
                                            </a>       
                                            </div>
                                            <div class="hoverable">
                                                <ul>
                                                    <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="discount circle flexcenter"><span th:text="${o.porcentaje_descuento}"></span></div>
                                        </div>
                                        <div class="content">
                                            <h3 class="main-links"><a th:text="${o.titulo}"></a></h3>
                                            <div class="price">
                                                <span class="current" th:text="${'S/.' + o.precio_descuento}"></span>
                                                <span class="normal mini-text" th:text="${'S/.' + o.precio_original}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <!-- contenedor de libro tendencia left -->
                                <div class="row products mini-trending">
                                    <div class="item" th:each="tendencia_left : ${tendencia_left}">
                                        <div class="media">
                                            <div class="thumbnail object-cover">
                                                <a th:href="@{/inicio/libros/info/{id}(id=${tendencia_left.id})}">
                                                    <img th:src="${tendencia_left.img}" alt="">
                                                </a>
                                            </div>
                                            <div class="hoverable">
                                                <ul>
                                                    <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="discount circle flexcenter"><span th:text=${tendencia_left.porcentaje_descuento}></span></div>
                                        </div>
                                        <div class="content">
                                            <h3 class="main-links"><a href="#" th:text="${tendencia_left.titulo}"></a></h3>
                                            <div class="price">
                                                <span class="current" th:text="${'S/.' + tendencia_left.precio_descuento}"></span>
                                                <span class="normal mini-text" th:text="${'S/.' + tendencia_left.precio_original}"></span>
                                            </div>
                                            <div class="mini-text">
                                                <p>Envió gratis</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                               <!--  contenedor de libro tendencia right -->
                                <div class="row products mini-trending">
                                    <div class="item" th:each="tendencia_right : ${tendencia_right}">
                                        <div class="media">
                                            <div class="thumbnail object-cover">
                                                <a th:href="@{/inicio/libros/info/{id}(id=${tendencia_right.id})}">
                                                    <img th:src="${tendencia_right.img}" alt="">
                                                </a>
                                            </div>
                                            <div class="hoverable">
                                                <ul>
                                                    <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                                </ul>
                                            </div>
                                            <div class="discount circle flexcenter"><span th:text=${tendencia_right.porcentaje_descuento}></span></div>
                                        </div>
                                        <div class="content">
                                            <h3 class="main-links"><a href="#" th:text="${tendencia_right.titulo}"></a></h3>
                                            <div class="price">
                                                <span class="current" th:text="${'S/.' + tendencia_right.precio_descuento}"></span>
                                                <span class="normal mini-text" th:text="${'S/.' + tendencia_right.precio_original}"></span>
                                            </div>
                                            <div class="mini-text">
                                                <p>Envió gratis</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- featured books -->
            <div class="features">
                <div class="container">
                    <div class="wrapper">
                        <div class="sectop flexitem">
                            <h2><span class="circle"></span><span>Libros Destacados</span></h2>
                            <div class="second-links">
                                <a href="/inicio/tienda" class="view-all">Ver más<i class="ri-arrow-right-line"></i></a>
                            </div>
                        </div>
                        <div class="column">
                            <div class="products main flexwrap">
                            
                            
                   <!-- contenedor de libro destacado -->
                                 <div class="item" th:each="d : ${destacados}">
                                    <div class="media">
                                        <div class="thumbnail object-cover">
                                            <a th:href="@{/inicio/libros/info/{id}(id=${d.id})}">
                                                <img th:src="${d.img}" alt="">
                                            </a>
                                        </div>
                                        <div class="hoverable">
                                            <ul>
                                                <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="discount circle flexcenter" th:text="${d.porcentaje_descuento}"><span></span></div>
                                    </div>
                                    <div class="content">
                                        <h3><a href="/app/detalle-libro" th:text="${d.titulo}"></a></h3>
                                        <div class="price">
                                            <div class="current" th:text="${'S/.' + d.precio_descuento}"></div>
                                            <div class="normal mini-text" th:text="${'S/.' + d.precio_original}"></div>
                                        </div>
                                    </div>
                                </div> 
                          <!-- fin del contenedor de libro destacado -->      
                                
                              
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
           
        </main>

        <footer>
            <!-- newsletter -->
            <div class="newsletter">
                <div class="container">
                    <div class="wrapper">
                        <div class="box" id="mc_embed_signup">
                            <div class="content">
                                <h3>Suscríbete a nuestro boletín</h3>
                                <p>Recibe actualizaciones por correo electrónico sobre nuestros libros más recientes y
                                    <strong> ofertas especiales</strong>
                                </p>
                            </div>
                            <form
                                action="https://gmail.us21.list-manage.com/subscribe/post?u=6f7b243471f92673c6bf7b363&amp;id=505742f9f7&amp;f_id=0095c3e1f0"
                                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                                class="search" target="_blank" novalidate>
                                <div class="mc-field-group">
                                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required></span>
                                    <br>
                                    <br>
                                    <input type="submit" value="Subscribete" name="subscribe" id="mc-embedded-subscribe" class="button">
                                    <br>
                                    <span><i class="ri-mail-line"></i>
                                    
                                    <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                                </div>
                                <div id="mce-responses" class="clear foot">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                    
                                </div>
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                    name="b_6f7b243471f92673c6bf7b363_505742f9f7" tabindex="-1" value=""></div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        
        
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- widgets -->
            <div class="widgets">
                <div class="container">
                    <div class="wrapper">
                        <div class="flexwrap">
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Ayuda y Contacto</h4>
                                    <ul class="flexcol" th:each="Lista : ${AyudaC}">
                                        <li><a href="#" th:text="${Lista.Cuenta}"></a></li>
                                        <li><a href="#" th:text="${Lista.Pedidos}"></a></li>
                                        <li><a href="#" th:text="${Lista.Envios}"></a></li>
                                        <li><a href="#" th:text="${Lista.Devoluciones}"></a></li>
                                        <li><a href="#" th:text="${Lista.Contactanos}"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Libros Categorías</h4>
                                    <ul class="flexcol" th:each="Lista : ${LibrosC}">
                                        <li><a href="#" th:text="${Lista.Arte}"></a></li>
                                        <li><a href="#" th:text="${Lista.Biografias}"></a></li>
                                        <li><a href="#" th:text="${Lista.Ciencias}"></a></li>
                                        <li><a href="#" th:text="${Lista.Computacion}"></a></li>
                                        <li><a href="#" th:text="${Lista.Deportes}"></a></li>
                                        <li><a href="#" th:text="${Lista.Derecho}"></a></li>
                                        <li><a href="#" th:text="${Lista.Economia}"></a></li>
                                        <li><a href="#" th:text="${Lista.EstilosDeVida}"></a></li>
                                        <li><a href="#" th:text="${Lista.Ficcion}"></a></li>
                                        <li><a href="#" th:text="${Lista.FilosofiaYreligion}"></a></li>
                                        <li><a href="#" th:text="${Lista.InfantilesYjuveniles}"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Métodos de Pago</h4>
                                    <ul class="flexcol" th:each="Lista : ${MetodosP}">
                                        <li><a href="#" th:text="${Lista.TarjetasDeCredito}"></a></li>
                                        <li><a href="#" th:text="${Lista.Paypal}"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Sobre Nosotros</h4>
                                    <ul class="flexcol" th:each="Lista : ${Nosotros}">
                                        <li><a href="#" th:text="${Lista.Iempresa}"></a></li>
                                        <li><a href="#" th:text="${Lista.Noticias}"></a></li>
                                        <li><a href="#" th:text="${Lista.Inversores}"></a></li>
                                        <li><a href="#" th:text="${Lista.Politicas}"></a></li>
                                        <li><a href="#" th:text="${Lista.ClienteV}"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- socials -->
            <div class="footer-info">
                <div class="container">
                    <div class="wrapper">
                        <div class="flexcol">
                            <div class="logo">
                                <a href="/inicio/"><span class="circle"></span>.Stose</a>
                            </div>
                            <div class="socials">
                                <ul class="flexitem">
                                    <li><a href="https://twitter.com/StoseOficial" target="_blank"><i class="ri-twitter-line"></i></a></li>
                                    <li><a href="https://www.facebook.com/profile.php?id=100087639915317&sk=about" target="_blank"><i class="ri-facebook-line"></i></a></li>
                                    <li><a href="https://www.instagram.com/stose_oficial_la/" target="_blank"><i class="ri-instagram-line"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UClqy7a7vzpY-vwNqyAVb2eA" target="_blank"><i class="ri-youtube-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <p class="mini-text">Copyright 2022 © .Stose. Todos los derechos reservados.</p>
                    </div>
                </div>
            </div>

            <!-- bottoms navigation -->
            <div class="menu-bottom desktop-hide">
                <div class="container">
                    <div class="wrapper">
                        <nav>
                            <ul class="flexitem">
                                <li>
                                    <a href="#">
                                        <i class="ri-bar-chart-line"></i>
                                        <span>Tendencias</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ri-user-6-line"></i>
                                        <span>Cuenta</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="wish-trigger">
                                        <i class="ri-heart-line"></i>
                                        <span>Deseados</span>
                                        <div class="fly-item">
                                            <span class="item-number">#</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="t-search">
                                        <i class="ri-search-line"></i>
                                        <span>Buscar</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0" class="cart-trigger">
                                        <i class="ri-shopping-cart-line"></i>
                                        <span>Carrito</span>
                                        <div class="fly-item">
                                            <span class="item-number">#</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <!-- bottom search desktop-->
            <div class="search-bottom desktop-hide">
                <div class="container">
                    <div class="wrapper">
                        <form action="" class="search">
                            <a href="#" class="t-close search-close flexcenter"><i class="ri-close-line"></i></a>
                            <span class="icon-large"><i class="ri-search-line"></i></span>
                            <input type="search" placeholder="Buscar en toda la tienda..." required>
                            <button type="submit">Buscar</button>
                        </form>
                    </div>
                </div>
            </div>

            <!-- overlay -->
            <div class="overlay"></div>

        </footer>
    </div>
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="/js/index.js"></script>
    <script src="/js/modales-index.js"></script>
    <script type="module" src="/js/autentification-firebase/main-registro.js"></script>
</body>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-firestore.js"></script>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='NAME';ftypes[1]='text'; /*
    * Translated default messages for the $ validation plugin.
    * Locale: ES
    */
   $.extend($.validator.messages, {
     required: "Este campo es obligatorio.",
     remote: "Por favor, rellena este campo.",
     email: "Por favor, escribe una dirección de correo válida",
     url: "Por favor, escribe una URL válida.",
     date: "Por favor, escribe una fecha válida.",
     dateISO: "Por favor, escribe una fecha (ISO) válida.",
     number: "Por favor, escribe un número entero válido.",
     digits: "Por favor, escribe sólo dígitos.",
     creditcard: "Por favor, escribe un número de tarjeta válido.",
     equalTo: "Por favor, escribe el mismo valor de nuevo.",
     accept: "Por favor, escribe un valor con una extensión aceptada.",
     maxlength: $.validator.format("Por favor, no escribas más de {0} caracteres."),
     minlength: $.validator.format("Por favor, no escribas menos de {0} caracteres."),
     rangelength: $.validator.format("Por favor, escribe un valor entre {0} y {1} caracteres."),
     range: $.validator.format("Por favor, escribe un valor entre {0} y {1}."),
     max: $.validator.format("Por favor, escribe un valor menor o igual a {0}."),
     min: $.validator.format("Por favor, escribe un valor mayor o igual a {0}.")
   });}(jQuery));var $mcj = jQuery.noConflict(true);</script>
   <!--End mc_embed_signup-->
<script src="/js/configuracion.js" ></script>
</html>