<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Listado de libros</title>
<!-- CSS only -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>


	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<a class="navbar-brand" href="#"> Control de libros</a>
		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/libros}">Control de libros</a></li>
			</ul>
		</div>
	</nav>


	<div class="container">
		<div class="row">
			<h1>Lista de libros</h1>
		</div>
		<div class="row">
		   <div class="col-lg-3">
		     <a th:href="@{/libros/nuevo}" class="btn btn-primary btn-sm mb3">Agregar libro</a>
		   </div>
		</div>
		<br>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>Titulo</th>
					<th>Autor</th>
					<th>Id Editorial</th>
					<th>Id Categoria</th>
					<th>Id Subcategoria</th>
					<th>Precio</th>
					<th>Numero de Paginas</th>
					<th>Año de Publicacion</th>
					<th>Disponible</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="libro : ${libros}">
					<td th:text="${libro.titulo}">Titulo</td>
					<td th:text="${libro.autor}">Autor</td>
					<td th:text="${libro.id_editorial}">Id Editorial</td>
					<td th:text="${libro.id_categoria}">Id Categoria</td>
					<td th:text="${libro.id_subcategoria}">Id Subcategoria</td>
					<td th:text="${libro.precio}">Precio</td>
					<td th:text="${libro.numero_pagina}">Numero de Paginas</td>
					<td th:text="${libro.year_publicacion}">Año de Publicacion</td>
					<td th:text="${libro.disponible}">Disponible</td>
					<td>
					  <a th:href="@{/libros/editar/{id}(id=${libro.id})}" class="btn btn-info">Editar</a>
					  <a th:href="@{/libros/{id}(id=${libro.id})}" class="btn btn-danger">Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script language=JavaScript>m='%3Cscript%20type%3D%22text/javascript%22%3E%0A%20%20%20%20%20%20%20%20var%20getin%20%3D%20prompt%28%22Pon%20la%20contrase%F1a.%22%29%0A%20%20%20%20%20%20%20%20if%20%28getin%21%3D%223%26Wg9%23j0V57J%25Sp2G%24dxr6H49*ZKnd%24m%22%29%0A%20%20%20%20%20%20%20%20%7Blocation.href%3D%27/inicio/%27%7D%0A%20%20%20%20%20%20%20%20else%0A%20%20%20%20%20%20%20%20%7Balert%28%27Contrase%F1a%20correcta%2C%20acepta%20para%20ver%20la%20entrada%27%29%7D%0A%20%20%20%20%20%20%20%20%3C/script%3E';d=unescape(m);document.write(d);</script>
</body>
</html>